# Introduction

Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

# Available Data

Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.

He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.

All datasets exist within the pizza_runner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

# Table 1: runners

The runners table shows the registration_date for each new runner

| runner_id | registration_date |
|-----------|-------------------|
| 1         | 2021-01-01        |
| 2         | 2021-01-03        |
| 3         | 2021-01-08        |
| 4         | 2021-01-15        |

# Table 2: customer_orders

Customer pizza orders are captured in the customer_orders table with 1 row for each individual pizza that is part of the order.

The pizza_id relates to the type of pizza which was ordered whilst the exclusions are the ingredient_id values which should be removed from the pizza and the extras are the ingredient_id values which need to be added to the pizza.

Note that customers can order multiple pizzas in a single order with varying exclusions and extras values even if the pizza is the same type!

The exclusions and extras columns will need to be cleaned up before using them in your queries.

| order_id | customer_id | pizza_id | exclusions | extras | order_time          |
|----------|-------------|----------|------------|--------|---------------------|
| 1        | 101         | 1        |            |        | 2021-01-01 18:05:02 |
| 2        | 101         | 1        |            |        | 2021-01-01 19:00:52 |
| 3        | 102         | 1        |            |        | 2021-01-02 23:51:23 |
| 3        | 102         | 2        | NaN        |        | 2021-01-02 23:51:23 |
| 4        | 103         | 1        | 4          |        | 2021-01-04 13:23:46 |
| 4        | 103         | 1        | 4          |        | 2021-01-04 13:23:46 |
| 4        | 103         | 2        | 4          |        | 2021-01-04 13:23:46 |
| 5        | 104         | 1        | null       | 1      | 2021-01-08 21:00:29 |
| 6        | 101         | 2        | null       | null   | 2021-01-08 21:03:13 |
| 7        | 105         | 2        | null       | 1      | 2021-01-08 21:20:29 |
| 8        | 102         | 1        | null       | null   | 2021-01-09 23:54:33 |
| 9        | 103         | 1        | 4          | 1, 5   | 2021-01-10 11:22:59 |
| 10       | 104         | 1        | null       | null   | 2021-01-11 18:34:49 |
| 10       | 104         | 1        | 2, 6       | 1, 4   | 2021-01-11 18:34:49 |

# Table 3: runner_orders

After each orders are received through the system - they are assigned to a runner - however not all orders are fully completed and can be cancelled by the restaurant or the customer.

The pickup_time is the timestamp at which the runner arrives at the Pizza Runner headquarters to pick up the freshly cooked pizzas. The distance and duration fields are related to how far and long the runner had to travel to deliver the order to the respective customer.

There are some known data issues with this table so be careful when using this in your queries - make sure to check the data types for each column in the schema SQL!


| order_id | runner_id | pickup_time         | distance | duration | cancellation         |
|----------|-----------|---------------------|----------|----------|----------------------|
| 1        | 1         | 2021-01-01 18:15:34 | 20km     | 32 mins  |                      |
| 2        | 1         | 2021-01-01 19:10:54 | 20km     | 27 mins  |                      |
| 3        | 1         | 2021-01-03 00:12:37 | 13.4km   | 20 mins  | NaN                  |
| 4        | 2         | 2021-01-04 13:53:03 | 23.4 km  | 40 mins  | NaN                  |
| 5        | 3         | 2021-01-08 21:10:57 | 10 km    | 15 mins  | NaN                  |
| 6        | 3         | null                | null     | null     | Restaurant Cancellation |
| 7        | 2         | 2020-01-08 21:30:45 | 25 km    | 25 mins  |                      |
| 8        | 2         | 2020-01-10 00:15:02 | 23.4 km  | 15 mins  |                      |
| 9        | 2         | null                | null     | null     | Customer Cancellation |
| 10       | 1         | 2020-01-11 18:50:20 | 10 km    | 10 mins  |                      |

# Table 4: pizza_names

At the moment - Pizza Runner only has 2 pizzas available the Meat Lovers or Vegetarian!

| pizza_id | pizza_name   |
|----------|--------------|
| 1        | Meat Lovers  |
| 2        | Vegetarian   |


# Table 5: pizza_recipes

Each pizza_id has a standard set of toppings which are used as part of the pizza recipe.

| pizza_id | toppings                |
|----------|-------------------------|
| 1        | 1, 2, 3, 4, 5, 6, 8, 10 |
| 2        | 4, 6, 7, 9, 11, 12      |

# Table 6: pizza_toppings

This table contains all of the topping_name values with their corresponding topping_id value
| topping_id | topping_name |
|------------|--------------|
| 1          | Bacon        |
| 2          | BBQ Sauce    |
| 3          | Beef         |
| 4          | Cheese       |
| 5          | Chicken      |
| 6          | Mushrooms    |
| 7          | Onions       |
| 8          | Pepperoni    |
| 9          | Peppers      |
| 10         | Salami       |
| 11         | Tomatoes     |
| 12         | Tomato Sauce |

## Importing the Database in MySQL

In [2]:
import mysql.connector
from mysql.connector import errorcode

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kamal\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\kamal\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
mydb= mysql.connector.connect(host='localhost',user="root", password="Abcd@1234")
cursor=mydb.cursor()

In [9]:
if mydb.is_connected():
    print('yes')

yes

In [10]:
  # Create Database
query ='''CREATE SCHEMA pizza_runner;
USE pizza_runner;

DROP TABLE IF EXISTS runners;
CREATE TABLE runners (
  runner_id INT,
  registration_date DATE
);

INSERT INTO runners (runner_id, registration_date)
VALUES
  (1, '2021-01-01'),
  (2, '2021-01-03'),
  (3, '2021-01-08'),
  (4, '2021-01-15');

DROP TABLE IF EXISTS customer_orders;
CREATE TABLE customer_orders (
  order_id INT,
  customer_id INT,
  pizza_id INT,
  exclusions VARCHAR(4),
  extras VARCHAR(4),
  order_time TIMESTAMP
);

INSERT INTO customer_orders (order_id, customer_id, pizza_id, exclusions, extras, order_time)
VALUES
  (1, 101, 1, '', '', '2021-01-01 18:05:02'),
  (2, 101, 1, '', '', '2021-01-01 19:00:52'),
  (3, 102, 1, '', '', '2021-01-02 23:51:23'),
  (3, 102, 2, 'NaN', NULL, '2021-01-02 23:51:23'),
  (4, 103, 1, '4', '', '2021-01-04 13:23:46'),
  (4, 103, 1, '4', '', '2021-01-04 13:23:46'),
  (4, 103, 2, '4', '', '2021-01-04 13:23:46'),
  (5, 104, 1, NULL, '1', '2021-01-08 21:00:29'),
  (6, 101, 2, NULL, NULL, '2021-01-08 21:03:13'),
  (7, 105, 2, NULL, '1', '2021-01-08 21:20:29'),
  (8, 102, 1, NULL, NULL, '2021-01-09 23:54:33'),
  (9, 103, 1, '4', '1, 5', '2021-01-10 11:22:59'),
  (10, 104, 1, NULL, NULL, '2021-01-11 18:34:49'),
  (10, 104, 1, '2, 6', '1, 4', '2021-01-11 18:34:49');

DROP TABLE IF EXISTS runner_orders;
CREATE TABLE runner_orders (
  order_id INT,
  runner_id INT,
  pickup_time VARCHAR(19),
  distance VARCHAR(7),
  duration VARCHAR(10),
  cancellation VARCHAR(23)
);

INSERT INTO runner_orders (order_id, runner_id, pickup_time, distance, duration, cancellation)
VALUES
  (1, 1, '2021-01-01 18:15:34', '20km', '32 minutes', ''),
  (2, 1, '2021-01-01 19:10:54', '20km', '27 minutes', ''),
  (3, 1, '2021-01-03 00:12:37', '13.4km', '20 mins', NULL),
  (4, 2, '2021-01-04 13:53:03', '23.4', '40', NULL),
  (5, 3, '2021-01-08 21:10:57', '10', '15', NULL),
  (6, 3, NULL, NULL, NULL, 'Restaurant Cancellation'),
  (7, 2, '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  (8, 2, '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  (9, 2, NULL, NULL, NULL, 'Customer Cancellation'),
  (10, 1, '2020-01-11 18:50:20', '10km', '10minutes', 'null');

DROP TABLE IF EXISTS pizza_names;
CREATE TABLE pizza_names (
  pizza_id INT,
  pizza_name TEXT
);

INSERT INTO pizza_names (pizza_id, pizza_name)
VALUES
  (1, 'Meat Lovers'),
  (2, 'Vegetarian');

DROP TABLE IF EXISTS pizza_recipes;
CREATE TABLE pizza_recipes (
  pizza_id INT,
  toppings TEXT
);

INSERT INTO pizza_recipes (pizza_id, toppings)
VALUES
  (1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12');

DROP TABLE IF EXISTS pizza_toppings;
CREATE TABLE pizza_toppings (
  topping_id INT,
  topping_name TEXT
);

INSERT INTO pizza_toppings (topping_id, topping_name)
VALUES
  (1, 'Bacon'),
  (2, 'BBQ Sauce'),
  (3, 'Beef'),
  (4, 'Cheese'),
  (5, 'Chicken'),
  (6, 'Mushrooms'),
  (7, 'Onions'),
  (8, 'Pepperoni'),
  (9, 'Peppers'),
  (10, 'Salami'),
  (11, 'Tomatoes'),
  (12, 'Tomato Sauce');
'''
cursor.execute(query)
cursor.close()
mydb.close()

# CASE STUDY PROBLEMS

This case study has LOTS of questions - they are broken up by area of focus including:

* **Pizza Metrics**
* **Runner and Customer Experience**
* **Ingredient Optimisation**
* **Pricing and Ratings**

In [11]:
if mydb.is_connected():
    print('yes')
else:
    mydb= mysql.connector.connect(host='localhost',user="root", password="Abcd@1234")
    cursor=mydb.cursor()

In [13]:
cursor.execute("USE pizza_runner")

## A. Pizza Metrics

**1. How many pizzas were ordered?**

In [16]:
cursor.execute('''SELECT COUNT(*) AS total_pizzas_ordered
FROM customer_orders;
''')
results = cursor.fetchall()
print(result)

[(14,)]

**2. How many unique customer orders were made?**

In [17]:
cursor.execute('''SELECT COUNT(DISTINCT order_id) AS unique_customer_orders
FROM customer_orders;
''')
results = cursor.fetchall()
print(results)

[(10,)]

**3. How many successful orders were delivered by each runner?**

In [19]:
cursor.execute('''SELECT runner_id, COUNT(*) AS successful_orders
FROM runner_orders
WHERE cancellation IS NULL
GROUP BY runner_id;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 1)
(2, 1)
(3, 1)

**4. How many of each type of pizza was delivered?**

In [21]:
cursor.execute('''SELECT
   c.pizza_id,
    pizza_name,
    COUNT(*) AS total_delivered
FROM
    customer_orders c
JOIN
    pizza_names p ON c.pizza_id = p.pizza_id
GROUP BY
   c.pizza_id, pizza_name;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Meat Lovers', 10)
(2, 'Vegetarian', 4)

**5. How many Vegetarian and Meatlovers were ordered by each customer?**

In [25]:
cursor.execute('''SELECT
    customer_id,
    SUM(CASE WHEN pizza_name = 'Vegetarian' THEN 1 ELSE 0 END) AS vegetarian_orders,
    SUM(CASE WHEN pizza_name = 'Meat Lovers' THEN 1 ELSE 0 END) AS meat_lovers_orders
FROM
    customer_orders
JOIN
    pizza_names ON customer_orders.pizza_id = pizza_names.pizza_id
GROUP BY
    customer_id;
''')
results = cursor.fetchall()
for row in results:
    customer_id, vegetarian_orders, meat_lovers_orders=row
    vegetarian_orders=int(vegetarian_orders)
    meat_lovers_orders=int( meat_lovers_orders)
    print(customer_id ,vegetarian_orders,meat_lovers_orders)

101 1 2
102 1 2
103 1 3
104 0 3
105 1 0

**6.What was the maximum number of pizzas delivered in a single order?**

In [26]:
cursor.execute('''SELECT MAX(pizza_count) AS max_pizzas_in_order
FROM (
    SELECT order_id, COUNT(*) AS pizza_count
    FROM customer_orders
    GROUP BY order_id
) AS pizza_counts;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(3,)

**7. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?**

In [28]:
cursor.execute('''SELECT
    co.customer_id,
    SUM(CASE WHEN co.exclusions IS NOT NULL OR co.extras IS NOT NULL THEN 1 ELSE 0 END) AS changed_pizzas,
    SUM(CASE WHEN co.exclusions IS NULL AND co.extras IS NULL THEN 1 ELSE 0 END) AS unchanged_pizzas
FROM customer_orders co
GROUP BY co.customer_id;
''')
results = cursor.fetchall()
for row in results:
    customer_id, changed_pizzas, unchanged_pizzas=row
    changed_pizzas=int(changed_pizzas)
    unchanged_pizzas=int( unchanged_pizzas)
    print(customer_id ,changed_pizzas,unchanged_pizzas)

101 2 1
102 2 1
103 4 0
104 2 1
105 1 0

**8. How many pizzas were delivered that had both exclusions and extras?**

In [29]:
cursor.execute('''SELECT COUNT(*) AS pizzas_with_changes
FROM customer_orders
WHERE exclusions IS NOT NULL AND extras IS NOT NULL;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(8,)

**9. What was the total volume of pizzas ordered for each hour of the day?**

In [30]:
cursor.execute('''SELECT
    HOUR(order_time) AS hour_of_day,
    COUNT(*) AS total_pizzas_ordered
FROM customer_orders
GROUP BY hour_of_day
ORDER BY hour_of_day;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(11, 1)
(13, 3)
(18, 3)
(19, 1)
(21, 3)
(23, 3)

**10. What was the volume of orders for each day of the week?**

In [31]:
cursor.execute('''SELECT
    DAYOFWEEK(order_time) AS day_of_week,
    COUNT(*) AS total_orders
FROM customer_orders
GROUP BY day_of_week
ORDER BY day_of_week;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 1)
(2, 5)
(6, 5)
(7, 3)

## B. Runner and Customer Experience

**1. How many runners signed up for each 1 week period?**

In [33]:
cursor.execute('''SELECT Week(registration_date) AS signup_week, COUNT(*) AS num_runners
FROM runners
GROUP BY signup_week
ORDER BY signup_week;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(0, 1)
(1, 2)
(2, 1)

**2. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?**

In [35]:
cursor.execute('''SELECT runner_id, AVG(duration) AS avg_pickup_time_minutes
FROM runner_orders
WHERE cancellation IS NULL
GROUP BY runner_id;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 20.0)
(2, 40.0)
(3, 15.0)

**3. Is there any relationship between the number of pizzas and how long the order takes to prepare?**

In [44]:
cursor.execute('''SELECT COUNT(co.order_id) AS num_pizzas, 
                         AVG(ro.duration * 60) AS avg_duration_seconds
FROM customer_orders co
JOIN runner_orders ro ON co.order_id = ro.order_id
WHERE ro.cancellation IS NULL

''')
results = cursor.fetchall()
for row in results:
    print(row)

(6, 1750.0)

**4. What was the average distance travelled for each customer?**

In [47]:
cursor.execute('''SELECT co.customer_id, ROUND(AVG(distance), 2) AS avg_distance
FROM customer_orders co
JOIN runner_orders ro ON co.order_id = ro.order_id
WHERE ro.cancellation IS NULL
GROUP BY co.customer_id;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(102, 13.4)
(103, 23.4)
(104, 10.0)

**5. What was the difference between the longest and shortest delivery times for all orders?**

In [51]:
cursor.execute('''SELECT MAX(duration) - MIN(duration) AS time_difference_seconds
FROM runner_orders
WHERE cancellation IS NULL;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(25.0,)

**6. What was the average speed for each runner for each delivery, and do you notice any trend for these values?**

In [54]:
cursor.execute('''SELECT runner_id, ROUND(AVG(distance) / AVG(duration),2) AS avg_speed
FROM runner_orders
WHERE cancellation IS NULL
GROUP BY runner_id;
''')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 0.67)
(2, 0.58)
(3, 0.67)

**7. What is the successful delivery percentage for each runner?**

In [56]:
cursor.execute('''SELECT runner_id,
       COUNT(DISTINCT order_id) AS total_successful_deliveries,
       COUNT(DISTINCT CASE WHEN cancellation IS NULL THEN order_id END) AS successful_deliveries,
       ROUND(COUNT(DISTINCT CASE WHEN cancellation IS NULL THEN order_id END) * 100.0 / COUNT(DISTINCT order_id), 2) AS delivery_percentage
FROM runner_orders
GROUP BY runner_id;
''')
results = cursor.fetchall()
for row in results:
    runner_id, total_successful_deliveries, successful_deliveries, delivery_percentage=row
    delivery_percentage=float(delivery_percentage)
    print(runner_id, total_successful_deliveries, successful_deliveries, delivery_percentage)

1 4 1 25.0
2 4 1 25.0
3 2 1 50.0